.tile {
    display: grid;
    place-content: center;
    width: 63px;
    height: 63px;
}

.black-tile { 
    background-color: #779556;
}

.white-tile {
    background-color: #ebecd0;
}

.tile img {
    width: 63px;
}